{% extends 'egemath/base.html' %}
{% block content %}
{% load staticfiles %}

    <div id="registration">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h3 class="text-center">Регистрация </h3>
                    <form  action="{% url 'signup' %}" method="post">
                        <div class="form-group">
                          {% csrf_token %}
                          {{form.username}}
                        </div>
                        <div class="form-group">

                          {% csrf_token %}
                          {{form.password}}
                        </div>
                        <div class="form-group">
                          {% csrf_token %}
                          {{form.email}}
                        </div>
                        <div class="form-group">
                            <p style="text-align: center">
                            <button class="btn btn-default btn-block" type="submit">ОК</button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="registration">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <p>Если уже есть аккаунт, то нужно <a href="{% url 'login' %}">Войти </a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
