body {
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#navdiv {
  max-width:1200px;
  margin:0 AUTO;
  padding-top:10px;
}

#notice1 {
  max-width:1200px;
  text-align:center;
  margin:0 auto;
  background-color:#eaebed;
}

#promo {
  text-align:center;
  padding:40px;
  background:url(../../assets/img/homeimage.jpg) no-repeat;
  background-position:center;
  background-size:cover;
  max-width:1200PX;
  margin:0 auto;
}

#promo1 {
  text-align:left;
}

@media (max-width:991px) {
  #promo {
    padding:10px;
  }
}

#promo .jumbotron {
  border-radius:20px;
  padding:40px;
  background-color:rgba(255, 255,255, 0.85);
  max-width:800px;
  margin:0 auto;
}

#promo .jumbotron h1 {
  font-size:42px;
  font-weight:500;
  text-align:left;
}

#promo .jumbotron p {
  font-size:24px;
  font-weight:500;
  text-align:left;
}

#promo .jumbotron .btn.btn-default {
  /*font-size:24px;*/
  /*font-weight:500;*/
  /*text-align:left;*/
}

@media (max-width:991px) {
  #promo .jumbotron {
    padding:10px;
  }
}

.site-section {
  text-align:center;
  padding:50px 0 60px;
}

.site-section h1 {
  font-weight:normal;
  margin-bottom:30px;
}

#tre {
  max-width:1200px;
  margin:0 auto;
  padding:10px;
}

#tre .row {
  padding:40px 0 0;
}

#tre .row span {
  font-size:24px;
  font-weight:600;
}

@media (max-width:767px) {
  #tre .row {
    padding:20px 0px 20px;
  }
}

#butn {
  padding:10px 0px 10px;
}

.preim {
  text-align:center;
  padding:0px 0 0px;
  max-width:1200px;
  margin:0 auto;
}

.preim p {
  font-size:medium;
  /*font-family:'Lora';*/
}

.preim i {
  font-size:36px;
  /*font-family:'Lora';*/
}

.preim i {
  font-size:36px;
  /*font-family:'Lora';*/
}

.col-md-4.bg_preim {
  padding:20px;
  margin:0 auto;
}

.col-md-4.bg_preim h3, p {
  padding:0 5px;
  margin:0 auto;
  text-align:left;
}

#rw1 {
  background-color:#313437;
  margin:10px auto;
  max-width:1200px;
}

#rw1 h2 {
  color:#ffffff;
  text-align:center;
  padding:10px;
}

#rw2 {
  max-width:1200px;
  margin:0 auto;
}

#ln1 {
  max-width:1200px;
  margin:0 auto;
}

#egepage .btn.btn-default {
  margin-top:15px;
  display:block;
  text-align:center;
  margin-bottom:15px;
}

#egepage .panel-group .panel {
  margin:10px;
}

#egepage .panel-title {
  text-align:center;
}

#egepage .collapse in, p {
  margin:10px 0;
}

#egepage .list-group-item {
  padding:5px;
}

#ege_test_block textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
  background:#eaebed;
}

#ege_test_container {
  padding:0;
}

#ege_test_row {
  max-width:1200px;
  padding:0;
  margin:auto;
}

#ege_test_column {
  padding:0;
}

.input-group-addon:first-child {
  background-color:#313437;
  color:#ffffff;
  font-size:medium;
}

#submit_btn {
  /*margin:auto;*/
  text-align:center;
  font-size:medium;
}

.ege_test_question {
  font-size:large;
}

#registration h3 {
  background-color:#313437;
  color:#ffffff;
}
