{% extends 'egemath/base.html' %}
{% block title %}О проекте{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="preim">
    <div class="row" id="rw1">
        <div class="col-md-12 bg_preim">
            <h2>О проекте</h2></div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="lead"><strong>TestEge.com это особый инструмент подготовки к экзамену ЕГЭ по математике online, который имитирует работу репетитора и помогает готовиться к экзамену системно. Пользоваться можно с любого устройства - телефон, планшет, монитор.</strong></p>
                <p class="lead">И так перейдем к делу. </p>
                <p class="lead">Экзаменационный тест состоит из 19 вопросов (в варианте на 2017 год), можно сказать что сложность этих вопросов идет по нарастающей. Для подготовки к экзаменам есть вариант тренировки определенного задания или можно выбрать решение
                    теста. </p>
                <h4>В чем особенность. </h4>
                <p class="lead">В каждом номере теста, может быть несколько тем по которым может быть задан вопрос. Например, шестое задание теста это задача по геометрии по программе от 7 до 9 класса. И если вы купили книжку и решаете типовые тесты, то может
                    сложится ложное впечатление что 6 задние, например, про треугольники и круги.Поэтому просто решение типовых тестов недостаточно.</p>
                <p class="lead">Раздел тренировка определенного задания это набор видеоуроков, и тестов по каждой теме в отдельно взятом вопросе экзамена. После прохождения теста, и его проверки будут доступны видео объясняющие как правильно решать задания. Уроки
                    идут по нарастанию от легких к более сложным задачам встречающихся в типовых тестах и экзаменах.</p>
                <p class="lead">В разделе стандартные тесты, также после решения и проверки теста, будут доступны видео объясняющие как правильно решать. </p>
                <h4>Как готовится к экзамену? </h4>
                <p class="lead">Самое первое что нужно сделать, это внушить себе мысль, что заниматься подготовкой к экзамену нужно от 30 до 60 минут ежедневно, нужно спланировать и организовать время так чтобы это время было. Решите что для вас важнее, расставьте
                    приоритеты и настройтесь на работу. На экзамене халявы не будет. Не откладывайте на потом начинайте заниматься. Если вы думаете что вам хватит пару месяцев на подготовку, то вы ошибаетесь. На мой взгляд готовится к ЕГЭ нужно
                    начинать в 10 классе и не прерываться вплоть до сдачи экзамена. </p>
                <p class="lead">Второе - нужно поверить в успех, я гарантирую что если вы будете выполнять первое правило успех будет, даже если сейчас вам кажется что сдать экзамен на нужный балл это не реально. </p>
                <p class="lead"> Далее, если ваш уровень в настоящий момент “слабый”, то нужно тренировать отдельные задания начиная с первого, а не решать тесты. Ваша задача сначала научится хорошо решать простые первые 6 - 7 заданий хотя бы на 50%, и только
                    потом переходить дальше, и пробовать решать тесты до 6 -7 задания. В идеале вы должны довести первые 7- 8 заданий до 100% в любом тесте.</p>
                <p class="lead">Если ваш уровень уже хорошо или отлично,то нужно чередовать решение тестов и тренировку отдельных заданий, таким образом вы не будете забывать старое и будете учится новому, оттачивая мастерство и доводить свой результат до 100% от
                    намеченной цели. И помните правило номер один. <i class="fa fa-smile-o"></i></p>
                <p class="lead"><em>Сайт находится в стадии разработки, отладки и наполнения полезной информацией. Все делается усилиями одного человека т.е мной, так что не судите строго. <i class="fa fa-smile-o"></i></em></p>
                <p class="lead"><em>В настоящее время все усилия сосредоточены на ЕГЭ. Если где-то вы обнаружили ошибку, ссылку ведущую в никуда, просьба по возможности сообщить об этом на почту <a href="mailto:creativerror@gmail.com"><span style="text-decoration: underline;">creativerror@gmail.com</span></a></em></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
