{% extends 'egemath/base.html' %}
{% block title %}О проекте{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="preim">
    <div class="row" id="rw1">
        <div class="col-md-12 bg_preim">
            <h2>О проекте</h2></div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <p class="lead"><strong>TestEge.com это эффективный online инструмент для подготовки к экзамену ЕГЭ по математике, выгодная альтернатива курсам, репетиторам и книжкам самоподготовки.
                  Это системное и интенсивное обучение состоящее из видео лекций, заданий в виде тестов с  автоматической проверкой и с подробными видео объяснениями к неправильно решенным заданиям.
                  Курс регулярно обновляется и перерабатывается под текущие требования экзамена, добавляются новые материалы. Пользоваться сервисом удобно с любого устройства: телефон, планшет, монитор.</strong></p>
                <p class="lead">Testege.com разрабатывается профессиональным репетитором, имеющим высшее педагогическое образование и многолетний опыт практической работы, т.е. мной.</p>

                <h4>В чем особенность. </h4>

                <p class="lead">На текущий момент экзаменационный тест состоит из 19 вопросов, можно сказать что сложность этих вопросов идет по нарастающей.
                  В каждом номере теста, может быть несколько тем по которым может быть задан вопрос. Например, 6 задание теста это задача по геометрии, за 7 - 9 класс.
                  И если вы используете книжку  и решаете типовые тесты, то  может сложится ложное впечатление что 6 задание, например, только  про треугольники и круги.
                  Т.е. в книгах информация не полная. Поэтому просто решение типовых тестов из книжки это не выход.
                  Как правило в книгах или на курсах подготовки, если объяснения и присутствуют, то ведутся они на относительно строгом научном  языке, т.к. этого требуют стандарты образования.
                  Ученику  же на самом деле требуются  объяснения на понятном ему языке, и это часть работы репетитора, но репетитор бесплатно не работает.</p>
                  <p class="lead"> Проект задуман чтобы избежать описанных недостатков. По мере наработки материалов большая часть информации, будет находится в свободном доступе,
                  но некоторая <em><span style="text-decoration: underline;"> небольшая </span></em> эксклюзивная часть (в основном это объяснения) будет доступна только благодарным пользователям, которые поддержали проект.
                  Так что начинайте готовится к экзамену, а я постараюсь быть полезным для вас.</p>

                <h4>P.S. Как готовится к экзамену? </h4>
                <p class="lead">Самое первое что нужно сделать это  внушить себе мысль, что заниматься подготовкой к экзамену нужно от 30 до 60 минут ежедневно, нужно спланировать и организовать время так чтобы это время было.
                Решите что для вас важнее, расставьте приоритеты и настройтесь на работу. На экзамене халявы не будет. Не откладывайте на потом начинайте заниматься. Если вы думаете что вам хватит пару месяцев  на подготовку,
                то это плохая идея.
                На мой взгляд готовится к ЕГЭ нужно начинать в 10 классе и не прерываться вплоть до сдачи экзамена.</p>
                <p class="lead"> Второе - нужно поверить в успех, я гарантирую что если вы будете выполнять первое правило успех будет, даже если сейчас вам кажется что сдать экзамен на нужный балл это не реально.</p>

                <p class="lead">Далее, если ваш уровень в настоящий момент  “слабый”, то нужно отдельно тренировать задания начиная с первого, а не решать тесты. Ваша задача сначала научится хорошо решать простые
                первые 6 - 7 заданий хотя бы на 50%, и только потом переходит дальше, и пробовать решать тесты до  6 -7 задания. В идеале вы должны довести первые 7- 8 заданий до 100% в любом тесте.</p>

                <p class="lead">Если ваш уровень уже хорошо или отлично,то нужно чередовать решение тестов и тренировку отдельных заданий, таким образом вы не будете забывать старое и будете учится новому и доводить свой результат до 100%</p>

                <p class="lead"><em>В настоящее время все усилия сосредоточены на ЕГЭ. Если где-то вы обнаружили ошибку, ссылку ведущую в никуда, просьба по возможности сообщить об этом на почту <a href="mailto:creativerror@gmail.com"><span style="text-decoration: underline;">creativerror@gmail.com</span></a></em></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
