{% extends 'egemath/base.html' %}
{% block title %}Обо мне{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="preim">
    <div class="row" id="rw1">
        <div class="col-md-12 bg_preim">
            <h2>Обо мне</h2>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <p class="lead"><strong> </strong></p>

                <p class="lead">Я скоро заполню этот раздел :)</p>
                <p class="lead"></p>

                <p class="lead"></p>

                <br>
                <p class="lead"><a target="_blank"  href="{% url 'egetest' 1 %}"></a> </p>

                <p class="lead"></p>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
