{% extends 'egemath/base.html' %}
{% block title %}Обо мне{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="preim">
    <div class="row" id="rw1">
        <div class="col-md-12 bg_preim">
            <h2>Обо мне</h2>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

              <div class="thumbnail">
                <div class="caption">
                    <p class="lead">Меня зовут Артём Сергеевич, я среднего возраста.</p>
                    <p class="lead">Репетитор по математике с 2010 года. </p>
                    <p class="lead">Имею два высших образования.
                      Закончил педагогической университет с отличием, по спецальности учитель информатики.</p>
                </div><img class="img-responsive" src="{% static 'assets/img/mydiploms.jpg' %}" width="600"></div>


            </div>
        </div>
    </div>
</div>
{% endblock content %}
