{% extends 'egemath/base.html' %}
{% block title %}Рекламодателям{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="preim">
    <div class="row" id="rw1">
        <div class="col-md-12 bg_preim">
            <h2>Рекламодателям</h2>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <p class="lead">Размещение рекламы на сайте <a href="mailto:admin@testege.com"><em><span style="text-decoration: underline;">admin@testege.com</span></em></a></p>


            </div>
        </div>
    </div>
</div>
{% endblock content %}
