{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora&amp;subset=cyrillic,cyrillic-ext,latin-ext">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Social-Icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Clean.css' %}">
</head>

<body>
    <div id="navdiv">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header"><a class="navbar-brand navbar-link" href="{% url 'home_page' %}"><strong>TestEge</strong>.com</a>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <p class="navbar-text">Пользователь: {{ user }}</p>
                    <ul class="nav navbar-nav navbar-right">
                        <li role="presentation"><a href="{% url 'ege_math' %}">ЕГЭ </a></li>
                        <li role="presentation"><a href="#">ОГЭ </a></li>
                        <li role="presentation"><a href="#">ГДЗ </a></li>
                        <li role="presentation"><a href="{% url 'login' %}">Вход </a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="notice1">
        <p class="text-center">  </p>
    </div>
    {% block content %}

    {% endblock %}
    <div id="ln1">
        <hr>
    </div>
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 item">
                        <h3>Услуги</h3>
                        <ul>
                            <li><a href="{% url 'repetitor_math' %}">Репетитор</a></li>
                            <li><a href="{% url 'website_development' %}">Создание сайтов</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-4 item">
                        <h3>Информация</h3>
                        <ul>
                            <li><a href="{% url 'about' %}">О проекте</a></li>
                            <li><a href="{% url 'copyright' %}">Об авторских правах</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-4 item">
                        <h3>Сотрудничество</h3>
                        <ul>
                            <li><a href="{% url 'advertising' %}">Рекламодателям</a></li>
                            <li><a href="{% url 'donate' %}">Помощь проекту</a></li>
                            <li><a href="{% url 'contacts' %}">Связаться со мной</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 item social">
                      <a target="_blank" href="https://www.youtube.com/channel/UCMEtyNN8syEEn6z4F8dl_bA">
                          <i class="icon ion-social-youtube"></i>
                      </a>
                      <a href="{% url 'contacts' %}">
                          <i class="fa fa-envelope"></i>
                      </a>
                        <p class="copyright">TestEge.com © 2017</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
