{% extends 'egemath/base.html' %}
{% block title %}Контакты{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="preim">
    <div class="row" id="rw1">
        <div class="col-md-12 bg_preim">
            <h2>Связаться со мной</h2>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <p class="lead"><strong></strong></p>
                <p class="lead"></p>

                <p class="lead"></p>

                <div><a class="btn btn-default" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" role="button" href="#collapse-1">Посмотреть пример</a>
                    <div class="collapse" id="collapse-1">
                        <p> </p>
                        <iframe width="560" height="315" allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/BifTdRq6P0g?showinfo=0&amp;rel=0" class="exampl video"></iframe>
                    </div>
                </div>
                <br>
                <p class="lead"> <a href="{% url 'about' %}">О проекте</a> </p>

                <p class="lead"></p>

                <p class="lead"></p>

                <p class="lead"></p>

                <p class="lead"></p>

                <p class="lead"></p>

                <h4></h4>
                <p class="lead"></p>
                <p class="lead"> </p>
                <p class="lead"></p>

                <p class="lead"></p>

                <p class="lead"><em></em></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
