{% extends 'egemath/base.html' %}
{% block title %}Помощь проекту{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="preim">
    <div class="row" id="rw1">
        <div class="col-md-12 bg_preim">
            <h2>Помощь проекту</h2>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <p class="lead">Вы можете помочь развитию проекта, и в качестве бонуса вам откроются некоторые дополнительные материалы на сайте.</p>

                <p class="lead">Для этого необходимо зарегистрироваться на сайте.</p>

                <p class="lead">При оформлении перевода укажите "email", который вы использовали при регистрации.</p>

                  <iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=%D0%B4%D0%BB%D1%8F%20TestEge.com&targets-hint=&default-sum=&button-text=12&payment-type-choice=on&mobile-payment-type-choice=on&mail=on&hint=&successURL=www.testege.com&quickpay=shop&account=410011504795471" width="450" height="198" frameborder="0" allowtransparency="true" scrolling="no"></iframe>

                <p class="lead">После осуществления перевода вам придет уведомление на email, что доступ активирован.</p>

                <p class="lead">На активацию требуется некоторе время, пока проверяется перевод, если в течении суток уведомление не пришло <a href="{% url 'contacts' %}">свяжитесь со мной</a></p>

                <p class="lead">Этот бонус сохраняется вплоть до сдачи экзаменов.</p>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
