{% extends 'egemath/base.html' %}
{% block title %}Помощь проекту{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="preim">
    <div class="row" id="rw1">
        <div class="col-md-12 bg_preim">
            <h2>Помощь проекту</h2>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <p class="lead">Вы можете помочь развитию проекта, и в качестве бонуса вам откроются все объяснения.</p>

                <p class="lead">Для этого необходимо зарегистрироваться на сайте.</p>
                <p class="lead">Ниже по ссылке в новом окне откроется форма. В ней обязательно
                  в поле комментарии укажите имя пользователя и email, который вы использовали при регистрации.</p>

                <p class="lead"> <a target = "_blank" href="https://money.yandex.ru/to/410011504795471/297">Яндекс.деньги или банковская карта</a> </p>

                <p class="lead">После осуществления перевода вам придет уведомление на email, что доступ ко всем объяснениям активирован.</p>

                <p class="lead">На активацию требуется некоторе время, пока я не проверю перевод, если в течении суток уведомление не пришло <a href="{% url 'contacts' %}">свяжитесь со мной</a></p>

                <p class="lead">Этот бонус сохраняется вплоть до сдачи экзаменов.</p>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
