{% extends 'egemath/base.html' %}
{% block title %}ЕГЭ по математике - результат{% endblock %}
{% block content %}
{% load staticfiles %}

<div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">Тест номер задание номер</p>
              

        <form enctype="multipart/form-data" action="{% url 'ege_test_input' test_num task_num %}" method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form.test_num }}
                    </div>
                    <div class="form-group">
                      {% csrf_token %}
                      {{ form.task_num }}
                    </div>
                    <div class="form-group">
                      {% csrf_token %}
                      {{ form.question_image }}
                    </div>
                    <div class="form-group">
                      {% csrf_token %}
                      {{ form.question_text }}
                    </div>
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form.question_text1 }}
                    </div>
                    <div class="form-group">
                      {% csrf_token %}
                      {{ form.question_text2 }}
                    </div>
                    <div class="form-group">
                      {% csrf_token %}
                      {{ form.question_text3 }}
                    </div>
                    <div class="form-group">
                      {% csrf_token %}
                      {{ form.answer_text1 }}
                    </div>
                    <div class="form-group">
                      {% csrf_token %}
                      {{ form.answer_text2 }}
                    </div>
                    <div class="form-group">
                      {% csrf_token %}
                      {{ form.answer_text3 }}
                    </div>
                    <div class="form-group">
                      {% csrf_token %}
                      {{ form.answer_text4 }}
                    </div>
                    <div class="form-group">
                      {% csrf_token %}
                      {{ form.correct_answer }}
                    </div>
                    <div class="form-group">
                      {% csrf_token %}
                      {{ form.explanation_video }}
                    </div>
                    <div class="form-group">
                      {% csrf_token %}
                      {{ form.explanation_text }}
                    </div>
                    <div class="form-group">
                      {% csrf_token %}
                      {{ form.access_level }}
                    </div>
                    <div class="form-group">
                        <p class="text-center">
                            <button class="btn btn-default" type="submit">SAVE </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
