{% extends 'egemath/base.html' %}
{% block title %}ЕГЭ по математике - тест {% endblock %}
{% block content %}
{% load staticfiles %}

    <div>
        <div class="row" id="rw1">
            <div class="col-md-12">
                <h2>Тест ЕГЭ по математике № {{test_id}}</h2>
            </div>
        </div>
    </div>
    <div id="ege_test_block">
        <div class="container-fluid" id="ege_test_container">
            <div class="row" id="ege_test_row">
                <div class="col-md-12" id="ege_test_column">

                    <form action="{% url 'egetest' test_id %}" method="post">

                        <div class="form-group">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Задание 1 </h3>
                                    <p class="ege_test_question">{{question_text_1}}</p>
                                    {% if question_image_1 %}
                                    <img class="img-responsive"  src="{{MEDIA_URL}}{{question_image_1}}">
                                    {% endif %}
                                </div>

                                <div class="input-group">
                                    <div class="input-group-addon"><span>Ответ 1</span></div>
                                    {% csrf_token %}
                                    {{form.answer1}}
                                    <div class="input-group-addon"></div>
                                </div>
                                <p>В ответ запишите целое число или десятичное с запятой.</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Задание 2 </h3>
                                    <p class="ege_test_question">{{question_text_2}}</p>
                                    {% if question_image_2 %}
                                    <img class="img-responsive"  src="{{MEDIA_URL}}{{question_image_2}}">
                                    {% endif %}
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon test_answer"><span>Ответ 2</span></div>
                                    {% csrf_token %}
                                    {{form.answer2}}
                                    <div class="input-group-addon"></div>
                                </div>
                                <p>В ответ запишите целое число или десятичное с запятой.</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Задание 3 </h3>
                                    <p class="ege_test_question">{{question_text_3}}</p>
                                    {% if question_image_3 %}
                                    <img class="img-responsive"  src="{{MEDIA_URL}}{{question_image_3}}">
                                    {% endif %}
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon test_answer"><span>Ответ 3</span></div>
                                    {% csrf_token %}
                                    {{form.answer3}}
                                    <div class="input-group-addon"></div>
                                </div>
                                <p>В ответ запишите целое число или десятичное с запятой.</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Задание 4 </h3>
                                    <p class="ege_test_question">{{question_text_4}}</p>
                                    {% if question_image_4 %}
                                    <img class="img-responsive"  src="{{MEDIA_URL}}{{question_image_4}}">
                                    {% endif %}
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon test_answer"><span>Ответ 4</span></div>
                                    {% csrf_token %}
                                    {{form.answer4}}
                                    <div class="input-group-addon"></div>
                                </div>
                                <p>В ответ запишите целое число или десятичное с запятой.</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Задание 5 </h3>
                                    <p class="ege_test_question">{{question_text_5}}</p>
                                    {% if question_image_5 %}
                                    <img class="img-responsive"  src="{{MEDIA_URL}}{{question_image_5}}">
                                    {% endif %}
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon test_answer"><span>Ответ 5</span></div>
                                    {% csrf_token %}
                                    {{form.answer5}}
                                    <div class="input-group-addon"></div>
                                </div>
                                <p>В ответ запишите целое число или десятичное с запятой.</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Задание 6 </h3>
                                    <p class="ege_test_question">{{question_text_6}}</p>
                                    {% if question_image_6 %}
                                    <img class="img-responsive"  src="{{MEDIA_URL}}{{question_image_6}}">
                                    {% endif %}
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon test_answer"><span>Ответ 6</span></div>
                                    {% csrf_token %}
                                    {{form.answer6}}
                                    <div class="input-group-addon"></div>
                                </div>
                                <p>В ответ запишите целое число или десятичное с запятой.</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Задание 7 </h3>
                                    <p class="ege_test_question">{{question_text_7}}</p>
                                    {% if question_image_7 %}
                                    <img class="img-responsive"  src="{{MEDIA_URL}}{{question_image_7}}">
                                    {% endif %}
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon test_answer"><span>Ответ 7</span></div>
                                    {% csrf_token %}
                                    {{form.answer7}}
                                    <div class="input-group-addon"></div>
                                </div>
                                <p>В ответ запишите целое число или десятичное с запятой.</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Задание 8 </h3>
                                    <p class="ege_test_question">{{question_text_8}}</p>
                                    {% if question_image_8 %}
                                    <img class="img-responsive"  src="{{MEDIA_URL}}{{question_image_8}}">
                                    {% endif %}
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon test_answer"><span>Ответ 8</span></div>
                                    {% csrf_token %}
                                    {{form.answer8}}
                                    <div class="input-group-addon"></div>
                                </div>
                                <p>В ответ запишите целое число или десятичное с запятой.</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Задание 9 </h3>
                                    <p class="ege_test_question">{{question_text_9}}</p>
                                    {% if question_image_9 %}
                                    <img class="img-responsive"  src="{{MEDIA_URL}}{{question_image_9}}">
                                    {% endif %}
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon test_answer"><span>Ответ 9</span></div>
                                    {% csrf_token %}
                                    {{form.answer9}}
                                    <div class="input-group-addon"></div>
                                </div>
                                <p>В ответ запишите целое число или десятичное с запятой.</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Задание 10 </h3>
                                    <p class="ege_test_question">{{question_text_10}}</p>
                                    {% if question_image_10 %}
                                    <img class="img-responsive"  src="{{MEDIA_URL}}{{question_image_10}}">
                                    {% endif %}
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon test_answer"><span>Ответ 10</span></div>
                                    {% csrf_token %}
                                    {{form.answer10}}
                                    <div class="input-group-addon"></div>
                                </div>
                                <p>В ответ запишите целое число или десятичное с запятой.</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Задание 11 </h3>
                                    <p class="ege_test_question">{{question_text_11}}</p>
                                    {% if question_image_11 %}
                                    <img class="img-responsive"  src="{{MEDIA_URL}}{{question_image_11}}">
                                    {% endif %}
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon test_answer"><span>Ответ 11</span></div>
                                    {% csrf_token %}
                                    {{form.answer11}}
                                    <div class="input-group-addon"></div>
                                </div>
                                <p>В ответ запишите целое число или десятичное с запятой.</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Задание 12 </h3>
                                    <p class="ege_test_question">{{question_text_12}}</p>
                                    {% if question_image_12 %}
                                      <img class="img-responsive"  src="{{MEDIA_URL}}{{question_image_12}}">
                                    {% endif %}
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon test_answer"><span>Ответ 12</span></div>
                                    {% csrf_token %}
                                    {{form.answer12}}
                                    <div class="input-group-addon"></div>
                                </div>
                                <p>В ответ запишите целое число или десятичное с запятой.</p>
                            </div>
                        </div>

                        <br>
                        <p class="lead">В заданиях 13 - 19 требуется оформление решения.</p>
                        <p class="lead">Для удобства проверки выберете наиболее подходищий вариант ответа из раскрывающего списка.</p>
                        <p class="lead">Если не знаете правильного ответа укажите любое число.</p>
                        <br>

                        <div class="form-group">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Задание 13 </h3>
                                    <p class="ege_test_question">{{question_text_13}}</p>
                                    {% if question_text_1_13 %}
                                      <p class="ege_test_question">{{question_text_1_13}}</p>
                                    {% endif %}
                                    {% if question_image_13 %}
                                      <img class="img-responsive"  src="{{MEDIA_URL}}{{question_image_13}}">
                                    {% endif %}

                                    <div><a class="btn btn-default" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-13" role="button" href="#collapse-13">Варианты ответов</a>
                                        <div class="collapse" id="collapse-13">
                                            <ul class="list-group">
                                                <li class="list-group-item"><span>1) {{answer_text_1_13}} </span></li>
                                                <li class="list-group-item"><span>2) {{answer_text_2_13}} </span></li>
                                                <li class="list-group-item"><span>3) {{answer_text_3_13}}</span></li>
                                                <li class="list-group-item"><span>4) {{answer_text_4_13}}</span></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon test_answer"><span>Ответ 13</span></div>
                                    {% csrf_token %}
                                    {{form.answer13}}
                                    <div class="input-group-addon"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Задание 14 </h3>
                                    <p class="ege_test_question">{{question_text_14}}</p>
                                    {% if question_text_1_14 %}
                                      <p class="ege_test_question">{{question_text_1_14}}</p>
                                    {% endif %}
                                    {% if question_image_14 %}
                                      <img class="img-responsive"  src="{{MEDIA_URL}}{{question_image_14}}">
                                    {% endif %}

                                    <div><a class="btn btn-default" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-14" role="button" href="#collapse-14">Варианты ответов</a>
                                        <div class="collapse" id="collapse-14">
                                            <ul class="list-group">
                                                <li class="list-group-item"><span>1) {{answer_text_1_14}} </span></li>
                                                <li class="list-group-item"><span>2) {{answer_text_2_14}} </span></li>
                                                <li class="list-group-item"><span>3) {{answer_text_3_14}}</span></li>
                                                <li class="list-group-item"><span>4) {{answer_text_4_14}}</span></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon test_answer"><span>Ответ 14</span></div>
                                    {% csrf_token %}
                                    {{form.answer14}}
                                    <div class="input-group-addon"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Задание 15 </h3>
                                    <p class="ege_test_question">{{question_text_15}}</p>
                                    {% if question_text_1_15 %}
                                      <p class="ege_test_question">{{question_text_1_15}}</p>
                                    {% endif %}
                                    {% if question_image_15 %}
                                      <img class="img-responsive"  src="{{MEDIA_URL}}{{question_image_15}}">
                                    {% endif %}

                                    <div><a class="btn btn-default" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-15" role="button" href="#collapse-15">Варианты ответов</a>
                                        <div class="collapse" id="collapse-15">
                                            <ul class="list-group">
                                                <li class="list-group-item"><span>1) {{answer_text_1_15}} </span></li>
                                                <li class="list-group-item"><span>2) {{answer_text_2_15}} </span></li>
                                                <li class="list-group-item"><span>3) {{answer_text_3_15}}</span></li>
                                                <li class="list-group-item"><span>4) {{answer_text_4_15}}</span></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon test_answer"><span>Ответ 15</span></div>
                                    {% csrf_token %}
                                    {{form.answer15}}
                                    <div class="input-group-addon"></div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group" id="submit_btn">
                            <button class="btn btn-default" type="submit">ПРОВЕРИТЬ </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
