{% extends 'egemath/base.html' %}
{% block title %}ЕГЭ по математике - результат{% endblock %}
{% block content %}
{% load staticfiles %}
    <div>
        <div class="row" id="rw1">
            <div class="col-md-12">
                <h2>Тест № 1 - Ваш результат</h2></div>
        </div>
        <div class="row" id="rw2">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="list-group" style="margin:-15px;">

                    <li class="list-group-item"  {% if color1 %} style="background-color:#f9bfc1;" {% endif %}><p class="text-center">1 задание - правильный ответ:  {{correct_answer1}} Ваш ответ: {{answer1}} </p>
                      {% if color1 %}
                      <div class="text-center"><a class="btn btn-default" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" role="button" href="#collapse-1">Объяснение к заданию № 1 </a>
                          <div class="collapse" id="collapse-1">
                              <p class="text-center">Здесь можно будет увидеть объяснение к первому заданию.</p>
                              <div class="text-center">
                              <iframe width="" height="" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/4wmErWZTEnk?showinfo=0&amp;rel=0"></iframe>
                              </div>
                          </div>
                      </div>{% endif %}
                    </li>

                    <li class="list-group-item" {% if color2 %} style="background-color:#f9bfc1;" {% endif %}><p class="text-center">2 задание - правильный ответ: {{correct_answer2}} Ваш ответ: {{answer2}} </p>
                      {% if color2 %}
                      <div class="text-center"><a class="btn btn-default" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-2" role="button" href="#collapse-2">Объяснение к заданию № 2 </a>
                          <div class="collapse" id="collapse-2">
                              <p class="text-center">Здесь можно будет увидеть объяснение к заданию.</p>
                              <div class="text-center">
                              <iframe width="" height="" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/4wmErWZTEnk?showinfo=0&amp;rel=0"></iframe>
                              </div>
                          </div>
                      </div>{% endif %}
                    </li>

                    <li class="list-group-item" {% if color3 %} style="background-color:#f9bfc1;" {% endif %}><p class="text-center">3 задание - правильный ответ: {{correct_answer3}} Ваш ответ: {{answer3}} </p>
                      {% if color3 %}
                      <div class="text-center"><a class="btn btn-default" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-3" role="button" href="#collapse-3">Объяснение к заданию № 3 </a>
                          <div class="collapse" id="collapse-3">
                              <p class="text-center">Здесь можно будет увидеть объяснение к заданию.</p>
                              <div class="text-center">
                              <iframe width="" height="" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/4wmErWZTEnk?showinfo=0&amp;rel=0"></iframe>
                              </div>
                          </div>
                      </div>{% endif %}
                    </li>

                    <li class="list-group-item" {% if color4 %} style="background-color:#f9bfc1;" {% endif %}><p class="text-center">4 задание - правильный ответ: {{correct_answer4}} Ваш ответ: {{answer4}} </p>
                      {% if color4 %}
                      <div class="text-center"><a class="btn btn-default" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-4" role="button" href="#collapse-4">Объяснение к заданию № 4 </a>
                          <div class="collapse" id="collapse-4">
                              <p class="text-center">Здесь можно будет увидеть объяснение к заданию.</p>
                              <div class="text-center">
                              <iframe width="" height="" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/4wmErWZTEnk?showinfo=0&amp;rel=0"></iframe>
                              </div>
                          </div>
                      </div>{% endif %}
                    </li>

                    <li class="list-group-item" {% if color5 %} style="background-color:#f9bfc1;" {% endif %}><p class="text-center">5 задание - правильный ответ: {{correct_answer5}} Ваш ответ: {{answer5}} </p>
                      {% if color5 %}
                      <div class="text-center"><a class="btn btn-default" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-5" role="button" href="#collapse-5">Объяснение к заданию № 5 </a>
                          <div class="collapse" id="collapse-5">
                              <p class="text-center">Здесь можно будет увидеть объяснение к заданию.</p>
                              <div class="text-center">
                              <iframe width="" height="" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/4wmErWZTEnk?showinfo=0&amp;rel=0"></iframe>
                              </div>
                          </div>
                      </div>{% endif %}
                    </li>

                    <li class="list-group-item" {% if color6 %} style="background-color:#f9bfc1;" {% endif %}><p class="text-center">6 задание - правильный ответ: {{correct_answer6}} Ваш ответ: {{answer6}} </p>
                      {% if color6 %}
                      <div class="text-center"><a class="btn btn-default" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-6" role="button" href="#collapse-6">Объяснение к заданию № 6 </a>
                          <div class="collapse" id="collapse-6">
                              <p class="text-center">Здесь можно будет увидеть объяснение к заданию.</p>
                              <div class="text-center">
                              <iframe width="" height="" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/4wmErWZTEnk?showinfo=0&amp;rel=0"></iframe>
                              </div>
                          </div>
                      </div>{% endif %}
                    </li>

                    <li class="list-group-item"><p>Правильных ответов {{result}}</p></li>
                </ul>
            </div>
        </div>
    </div>

  {% endblock content %}
