{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ответ на тест ЕГЭ по математике</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora&amp;subset=cyrillic,cyrillic-ext,latin-ext">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="{% static 'assets/css/Social-Icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<body>
    <div id="navdiv">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header"><a class="navbar-brand navbar-link" href="{% url 'home_page' %}"><strong>matangens</strong>.ru </a>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <p class="navbar-text">Пользователь: Не авторизован</p>
                    <ul class="nav navbar-nav navbar-right">
                        <li role="presentation"><a href="{% url 'ege_math' %}">ЕГЭ </a></li>
                        <li role="presentation"><a href="#">ОГЭ </a></li>
                        <li role="presentation"><a href="#">ГДЗ </a></li>
                        <li role="presentation"><a href="{% url 'login' %}">Вход </a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div>
        <div class="row" id="rw1">
            <div class="col-md-12">
                <h2>Тест № 1 - Ваш результат</h2></div>
        </div>
        <div class="row" id="rw2">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="list-group" style="margin:-15px;">
                    <li class="list-group-item"><span>Ответ на задание1: 11 Ваш ответ: {{answer_1_1}} </span></li>
                    <li class="list-group-item"><span>Ответ на задание1: 10 Ваш ответ: {{answer_1_2}} </span></li>
                    <li class="list-group-item"><span>List Group Item 3</span></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>
