{% extends 'egemath/base.html' %}
{% block title %}ЕГЭ по математике - тест {% endblock %}
{% block content %}
{% load staticfiles %}

    <div>
        <div class="row" id="rw1">
            <div class="col-md-12">
                <h2>Тест ЕГЭ по математике № {{test_id}}</h2>
            </div>
        </div>
    </div>
    <div id="ege_test_block">
        <div class="container-fluid" id="ege_test_container">
            <div class="row" id="ege_test_row">
                <div class="col-md-12" id="ege_test_column">
                    <form action="{% url 'egetest' test_id %}" method="post">

                        <div class="form-group">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Задание 1 </h3>
                                    <p class="ege_test_question">{{question_text_1}}</p>
                                    {% if question_image_1 %}
                                    <img class="img-responsive"  src="{{MEDIA_URL}}{{question_image_1}}">
                                    {% endif %}
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon"><span>Ответ 1</span></div>
                                    {% csrf_token %}
                                    {{form.answer1}}
                                    <div class="input-group-addon"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Задание 2 </h3>
                                    <p class="ege_test_question">{{question_text_2}}</p>
                                    {% if question_image_2 %}
                                    <img class="img-responsive"  src="{{MEDIA_URL}}{{question_image_2}}">
                                    {% endif %}
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon test_answer"><span>Ответ 2</span></div>
                                    {% csrf_token %}
                                    {{form.answer2}}
                                    <div class="input-group-addon"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Задание 3 </h3>
                                    <p class="ege_test_question">{{question_text_3}}</p>
                                    {% if question_image_3 %}
                                    <img class="img-responsive"  src="{{MEDIA_URL}}{{question_image_3}}">
                                    {% endif %}
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon test_answer"><span>Ответ 3</span></div>
                                    {% csrf_token %}
                                    {{form.answer3}}
                                    <div class="input-group-addon"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Задание 4 </h3>
                                    <p class="ege_test_question">{{question_text_4}}</p>
                                    {% if question_image_4 %}
                                    <img class="img-responsive"  src="{{MEDIA_URL}}{{question_image_4}}">
                                    {% endif %}
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon test_answer"><span>Ответ 4</span></div>
                                    {% csrf_token %}
                                    {{form.answer4}}
                                    <div class="input-group-addon"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Задание 5 </h3>
                                    <p class="ege_test_question">{{question_text_5}}</p>
                                    {% if question_image_5 %}
                                    <img class="img-responsive"  src="{{MEDIA_URL}}{{question_image_5}}">
                                    {% endif %}
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon test_answer"><span>Ответ 5</span></div>
                                    {% csrf_token %}
                                    {{form.answer5}}
                                    <div class="input-group-addon"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Задание 6 </h3>
                                    <p class="ege_test_question">{{question_text_6}}</p>
                                    {% if question_image_6 %}
                                    <img class="img-responsive"  src="{{MEDIA_URL}}{{question_image_6}}">
                                    {% endif %}
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon test_answer"><span>Ответ 6</span></div>
                                    {% csrf_token %}
                                    {{form.answer6}}
                                    <div class="input-group-addon"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Задание 7 </h3>
                                    <p class="ege_test_question">{{question_text_7}}</p>
                                    {% if question_image_7 %}
                                    <img class="img-responsive"  src="{{MEDIA_URL}}{{question_image_7}}">
                                    {% endif %}
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon test_answer"><span>Ответ 7</span></div>
                                    {% csrf_token %}
                                    {{form.answer7}}
                                    <div class="input-group-addon"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Задание 8 </h3>
                                    <p class="ege_test_question">{{question_text_8}}</p>
                                    {% if question_image_8 %}
                                    <img class="img-responsive"  src="{{MEDIA_URL}}{{question_image_8}}">
                                    {% endif %}
                                </div>
                                <div class="input-group">
                                    <div class="input-group-addon test_answer"><span>Ответ 8</span></div>
                                    {% csrf_token %}
                                    {{form.answer8}}
                                    <div class="input-group-addon"></div>
                                </div>
                            </div>
                        </div>



                        <div class="form-group" id="submit_btn">
                            <button class="btn btn-default" type="submit">ПРОВЕРИТЬ </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
