{% extends 'egemath/base.html' %}
{% block title %}EgeProgram.com{% endblock %}
{% block content %}
{% load staticfiles %}

    <div id="promo">
        <div class="jumbotron">
            <h1>Тесты ЕГЭ и ОГЭ по математике </h1>
            <p> для самоподготовки с объяснениями </p>
            <div id="promo1"><a class="btn btn-default" role="button" href="{% url 'ege_math' %}">Начать</a></div>
        </div>
    </div>
    <div id="ln1">
        <hr>
    </div>
    <div id="tre">
        <div class="row">
            <div class="col-md-4 col-sm-4"><img class="img-responsive" src="{% static 'assets/img/ege.jpg' %}">
                <p class="text-success" id="butn"><a class="btn btn-default btn-block btn-lg" role="button" href="{% url 'ege_math' %}"><span>ЕГЭ </span></a></p>
                <p class="lead text-center" style="margin:10px;">Тесты, объяснения и лекции для подготовки к экзамену ЕГЭ по математике.</p>
            </div>
            <div class="col-md-4 col-sm-4"><img class="img-responsive" src="{% static 'assets/img/oge.jpg' %}">
                <p id="butn"><a class="btn btn-default btn-block btn-lg" role="button" href="#"><span>ОГЭ </span></a></p>
                <p class="lead text-center" style="padding:0px;margin:10px;">Тесты, объяснения и лекции для подготовки к экзамену ОГЭ по математике.</p>
            </div>
            <div class="col-md-4 col-sm-4"><img class="img-responsive" src="{% static 'assets/img/gdz.jpg' %}">
                <p id="butn"><a class="btn btn-default btn-block btn-lg" role="button" href="#"><span>ГДЗ </span></a></p>
                <p class="lead text-center" style="margin:10px;">Примеры решений задач из учебника по геометрии в видео формате.</p>
            </div>
        </div>
    </div>
    <div class="preim">
        <div class="row" id="rw1">
            <div class="col-md-12 bg_preim">
                <h2 id="rw1_h1">Содержание </h2></div>
        </div>
        <div id="ln1">
            <hr>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 bg_preim"><i class="glyphicon glyphicon-search"></i>
                <h3>Тематические задания</h3>
                <p class="text-left"> Для тренировки опреденного номера из теста ЕГЭ или ОГЭ по математике.</p>
            </div>
            <div class="col-md-4 col-sm-4 bg_preim"><i class="glyphicon glyphicon-cog"></i>
                <h3 class="text-left">Стандартные тесты </h3>
                <p class="text-left">Тесты как на экзамене для проверки своих знаний.</p>
            </div>
            <div class="col-md-4 col-sm-4 bg_preim"><i class="glyphicon glyphicon-signal"></i>
                <h3 class="text-left">Разные уровни сложности</h3>
                <p class="text-left">Развивающие упражения. Двигайтесь от легкого уровня к следующим уровням.&nbsp; </p>
            </div>
        </div>
    </div>

{% endblock content %}
