{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подготовка ЕГЭ по математике</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/home.css' %}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110889054-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110889054-2');
    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
              try {
                  w.yaCounter47140803 = new Ya.Metrika({
                      id:47140803,
                      clickmap:true,
                      trackLinks:true,
                      accurateTrackBounce:true,
                      webvisor:true
                    });
                  } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

          if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
          } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/47140803" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>

<body style="background-image:url({% static 'assets/img/bgtype_dark.png' %});">

    <div id="block_1">
        <div class="container" style="background-color:rgba(255,255,255,0.15);">
            <div class="row">
                <div class="col-md-12">
                    <hgroup>
                        <h1 class="text-center">Подготовка к ЕГЭ </h1>
                        <h2 class="text-center">по математике</h2>
                    </hgroup>
                </div>
            </div>
            <div class="row">
                <div class="col align-self-center mx-auto">
                    <p class="text-center">Привет, на связи репетитор по математике Артём Миронов. </p>
                </div>
                <div class="col-auto align-self-center mx-auto"><img class="rounded-circle img-fluid" src="{% static 'assets/img/myphoto.png' %}" width="300"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center">Специально для учеников 11 класса </h4>
                    <p class="text-center"> Готовится к выходу долгожданный курс</p>
                    <p class="text-center" id="kurs_ege">«Избранные задачи ЕГЭ по математике 2018» </p>
                </div>
            </div>
            <div class="row">
                <div class="col-auto align-self-center m-auto"><img class="rounded-circle img-fluid" src="{% static 'assets/img/wtf2.png' %}" width="200"></div>
                <div class="col align-self-center mx-auto">
                    <p>Работа над проектом подходит к завершению, и мне нужны ваши советы и комментарии. Пожалуйста, поучаствуйте в предварительном тестировании моего курса подготовки к ЕГЭ по математике.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center"> <i class="fa fa-cloud-download"></i> Что внутри </h4>
                    <p>Каждый урок представляет собой вводный инструктаж и тест с разбором решений задач профильного ЕГЭ по математике, как занятие с репетитором.
                      Задания буду выслать пару раз в неделю, чтобы вы успели справиться.</p>
                </div>
            </div>
            <div class="row">
                <div class="col align-self-center my-auto">
                    <h4 class="text-center">Получение доступа</h4>
                    <p>Для получения курса укажите e-mail. <br>На указанный адрес придет уведомление, там будет ссылка, перейдите по ней чтобы подтвердить желание получать сообщения.
                      После процедуры подтверждения прилетит первый урок. <br><span class="yllw">Совет, чем раньше начать, тем больше придет уроков до экзамена.</span></p>
                </div>
                <div class="col-auto align-self-center m-auto"><img class="rounded-circle img-fluid" src="{% static 'assets/img/comp1.png' %}" width="200"></div>
            </div>


            <div class="row">
                <div class="col align-self-center my-auto">
                  <div class="text-center"><a class="btn btn-outline-primary btn-lg" role="button" href="http://eepurl.com/dcg9zL" target="_blank">Оформить получение уроков</a></div>
                </div>

            </div>

            <div class="row">
                <div class="col">
                    <p>На случай если передумаете, в каждом письме присутствует гиперссылка unsubscribe, означает отписаться, кликните и наше общение завершится.</p>
                </div>
            </div>

            <div style="padding:10px 0 40px "class="row">
                <div class="col">
                  <p>Теперь когда вы знаете о курсе, помогите друзьям, нажмите на кнопку социальной сети и поделитесь страницей.</p>
                  <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                  <script src="//yastatic.net/share2/share.js"></script>

                  <div style="text-align : center;" class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter,viber,whatsapp,telegram" data-counter=""></div>
                  <hr>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>

</body>

</html>
