{% extends 'egemath/base.html' %}
{% block title %}Репетитор по математике{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="preim">
    <div class="row" id="rw1">
        <div class="col-md-12 bg_preim">
            <h2>Репетитор по математике</h2>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <p class="lead">Если вас интересует персональная подготовка к экзаменам ЕГЭ (11 класс) или ОГЭ ( 9 класс) по математике,
                   или вам просто нужно повысить успеваемость, или консультация, то вы можете связаться со мной позвонив по телефону </p>
                   <p class="lead text-center"><strong>+7 917 955 17 60</strong>.</p>

                  <p class="lead"> Или заполните форму ниже, я вам обязательно перезвоню или напишу.</p>

                <p class="lead">Я провожу занятия в городе Самара с выездом к ученику или online.
                   Стоимость и продолжительность занятий определяется индивидуально.</p>

                <p class="lead">Для моих учеников на сайте TestEge.com я размещаю материалы для самостоятельного повторения и изучения. </p>

                <p class="lead">Вот так примерно выглядят объяснения:</p>

                <div><a class="btn btn-default" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" role="button" href="#collapse-1">Посмотреть пример</a>
                    <div class="collapse" id="collapse-1">
                        <p> </p>
                        <iframe width="560" height="315" allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/BifTdRq6P0g?showinfo=0&amp;rel=0" class="exampl video"></iframe>
                    </div>
                </div>
                <br>

                <p class="lead"> Так выглядит <a target="_blank" href="{% url 'egetest' 1 %}"> тест ЕГЭ по математике</a> </p>

                <p class="lead"><strong>И ещё у меня есть для вас отличное предложение.</strong></p>
                <p class="lead"><em><strong>Подпишитесь  на бесплатную рассылку обновленных материалов по подготовке к экзамену ЕГЭ по математике и готовьтесь самостоятельно.</strong></em></p>
                <p class="lead">Впишите ниже ваш email и проверьте стоит ли галочка в поле “Подписка на новинки ЕГЭ”.
                   Как только у меня появиться что-то новое и интересное (уроки, тесты, объяснения) вы это не пропустите.</p>
                <p class="lead ">Также за новостями сайта  можно следить на моём канале в <a target="_blank" href="https://t.me/testege">Telegram</a> <i class="fa fa-telegram"></i></p>

                <p class="lead">Поставьте галочку Самара, если вам нужен репетитор в Самаре</p>
                <p class="lead">Если нужна online консультация, поставьте галочку online. </p>

                <div id="registration">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <h3 class="text-center">Оставьте заявку </h3>
                                <form  action="{% url 'repetitor_math' %}" method="post">
                                  {{ form.non_field_errors }}

                                  <div class="form-group">
                                    {% csrf_token %}
                                    {{form.сontact_phone.errors}}
                                    {{form.сontact_phone}}
                                  </div>

                                  <div class="form-group">
                                    {% csrf_token %}
                                    {{form.сontact_email.errors}}
                                    {{form.сontact_email}}
                                  </div>

                                  <div class="form-group">
                                    {% csrf_token %}
                                    {{form.сontact_name.errors}}
                                    {{form.сontact_name}}
                                  </div>

                                  <div class="form-group">
                                    <div class="checkbox">
                                         <label class="control-label">
                                           {% csrf_token %}
                                           {{form.location_samara.errors}}
                                           {{form.location_samara}}<span class="lead"> Самара </span></label>
                                           &nbsp;&nbsp;&nbsp;
                                           <label class="control-label">
                                             {% csrf_token %}
                                             {{form.location_online.errors}}
                                             {{form.location_online}}<span class="lead"> Online </span></label>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="checkbox">
                                         <label class="control-label">
                                           {% csrf_token %}
                                           {{form.email_subscribe.errors}}
                                           {{form.email_subscribe}}<span class="lead"> Подписка на новинки ЕГЭ </span></label>
                                    </div>
                                  </div>

                                    <div class="form-group">
                                        <p style="text-align: center">
                                        <button class="btn btn-default btn-block" type="submit">ОК</button>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>




                <p class="lead">Узнать обо мне можно <a href="{% url 'about_me' %}">здесь</a></p>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
