{% extends 'egemath/base.html' %}
{% block title %}Репетитор по математике{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="preim">
    <div class="row" id="rw1">
        <div class="col-md-12 bg_preim">
            <h2>Репетитор по математике в Самаре</h2>
        </div>
    </div>
</div>


<div>
    <div class="container">

      <div class="thumbnail">
        <div class="caption">
          <h3>Приветсвую вас на сайте TestEge.com</h3>
          <div class="col-lg-6 col-md-6 col-sm-6"><img class="img-responsive" src="{% static 'assets/img/my-photo-sumi.jpg' %}" width="400"></div>
          <div class="col-lg-6 col-md-6 col-sm-6"><img class="img-responsive" src="{% static 'assets/img/diplom.jpg' %}" width="400"></div>
          <p class="lead text-center">Меня зовут Артём Сергеевич, я репетитор по математике с 2010 года и разработчик этого сайта.</p>
          <p class="lead text-center">На моём счету более 100 учеников, которые успешно сдали выпускные экзамены.</p>

          <div id="promo">
            <div class="jumbotron" style="background-color:rgba(255,255,255,0.9);">
            <h1>Подготовка к экзамену ЕГЭ с репетитором от 1000 рублей в месяц.</h1>
            <p>Включает в себя 10 практических занятий с решением типовых экзаменационных тестов ЕГЭ. </p>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <p class="lead">Предложение действует только до конца месяца. Подробности по телефону <strong><a href="tel:+79179551760">+7 917 955 17 60</a></strong>.</p>

              <p class="lead"> Или заполните форму ниже и я c вами свяжусь.</p>

              <p class="lead"> Задания которые мы будем решать выглядят вот так: <a target="_blank" href="{% url 'egetest' 1 %}"> тест ЕГЭ по математике</a> </p>

              <p class="lead">Объяснения выглядят вот так:</p>

                <div><a class="btn btn-default" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" role="button" href="#collapse-1">Посмотреть пример</a>
                    <div class="collapse" id="collapse-1">
                        <p> </p>
                        <iframe width="560" height="315" allowfullscreen="" frameborder="0" src="https://www.youtube-nocookie.com/embed/BifTdRq6P0g?showinfo=0&amp;rel=0" class="exampl video"></iframe>
                    </div>
                </div>
                <br>



                <p class="lead"><strong>И ещё у меня есть для вас отличное предложение.</strong></p>
                <p class="lead"><em><strong>Подпишитесь  на бесплатную рассылку обновленных материалов по подготовке к экзамену ЕГЭ по математике.</strong></em></p>
                <p class="lead">Как только у меня появиться что-то новое и интересное (уроки, тесты, объяснения) вы это не пропустите.</p>
                <p class="lead">Или следите за новостями сайта на моём канале в <a target="_blank" href="https://t.me/testege">Telegram</a> <i class="fa fa-telegram"></i></p>

                  <div id="registration">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <h3 class="text-center">Оставьте заявку </h3>
                                <form  action="{% url 'repetitor_math' %}" method="post">
                                  {{ form.non_field_errors }}

                                  <div class="form-group">
                                    {% csrf_token %}
                                    {{form.сontact_phone.errors}}
                                    {{form.сontact_phone}}
                                  </div>

                                  <div class="form-group">
                                    {% csrf_token %}
                                    {{form.сontact_email.errors}}
                                    {{form.сontact_email}}
                                  </div>

                                  <div class="form-group">
                                    {% csrf_token %}
                                    {{form.сontact_name.errors}}
                                    {{form.сontact_name}}
                                  </div>

                                  <div class="form-group">
                                    <div class="checkbox">
                                         <label class="control-label">
                                           {% csrf_token %}
                                           {{form.offer_accepted.errors}}
                                           {{form.offer_accepted}}<span class="lead"> Хочу заниматься</span></label>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <div class="checkbox">
                                         <label class="control-label">
                                           {% csrf_token %}
                                           {{form.email_subscribe.errors}}
                                           {{form.email_subscribe}}<span class="lead"> Подписка на новинки ЕГЭ </span></label>
                                    </div>
                                  </div>

                                    <div class="form-group">
                                        <p style="text-align: center">
                                        <button class="btn btn-default btn-block" type="submit">ОК</button>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
{% endblock content %}
