{% extends 'egemath/base.html' %}
{% block title %}Подпишитесь на обновления{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="preim">
    <div class="row" id="rw1">
        <div class="col-md-12 bg_preim">
            <h2>Подпишитесь на обновления.</h2>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

              <p class="lead"><em><strong>Подпишитесь  на бесплатную рассылку обновленных материалов по подготовке к экзамену ЕГЭ по математике.</strong></em></p>
              <p class="lead">Впишите ниже ваш email и проверьте стоит ли галочка в поле “Подписка на новинки ЕГЭ”.
                 Как только у меня появиться что-то новое и интересное (уроки, тесты, объяснения) вы это не пропустите.</p>
                 <p class="lead ">Также за новостями сайта  можно следить в <a target="_blank" href="https://t.me/testege">Telegram</a> <i class="fa fa-telegram"></i></p>
                 <div id="registration">
                     <div class="container">
                         <div class="row">
                             <div class="col-md-6 col-md-offset-3">
                                 <h3 class="text-center">Оставьте заявку </h3>
                                 <form  action="{% url 'repetitor_math' %}" method="post">
                                   {{ form.non_field_errors }}

                                     <div class="form-group">
                                     {% csrf_token %}
                                     {{form.сontact_email.errors}}
                                     {{form.сontact_email}}
                                   </div>

                                   <div class="form-group">
                                     {% csrf_token %}
                                     {{form.сontact_name.errors}}
                                     {{form.сontact_name}}
                                   </div>

                                   <div class="form-group">
                                     <div class="checkbox">
                                          <label class="control-label">
                                            {% csrf_token %}
                                            {{form.email_subscribe.errors}}
                                            {{form.email_subscribe}}<span class="lead"> Подписка на новинки ЕГЭ </span></label>
                                     </div>
                                   </div>

                                     <div class="form-group">
                                         <p style="text-align: center">
                                         <button class="btn btn-default btn-block" type="submit">ОК</button>
                                         </p>
                                     </div>
                                 </form>
                             </div>
                         </div>
                     </div>
                 </div>
    </div>
</div>
{% endblock content %}
