{% extends 'egemath/base.html' %}
{% block title %}Доступ только для учеников.{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="preim">
    <div class="row" id="rw1">
        <div class="col-md-12 bg_preim">
            <h2>Доступ только для учеников.</h2>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

              <p class="lead">Вы можете подписаться на бесплатную рассылку
                обновленных материалов по подготовке к экзамену ЕГЭ по математике по этой
                <a href="{% url 'subscribe' %}">ссылке</a></p>
    </div>
</div>
{% endblock content %}
